{% extends "tienda_app/base.html" %}
{% load static %}

{% block title %} Editar {% endblock %}



{%block content %}

<link rel="stylesheet" href="{% static 'css/editar_perfil.css' %}">

<body>
    <br>
    <div class="edit">
    <div class="edit-header">
        <h1><span class="fas fa-users"></span> PERFIL</h1>
    </div>
    <form class="edit-form" action='' method="POST">
        {% csrf_token %}
        <h3><span class="fas fa-phone-square-alt"></span> Celular:</h3>
        {{form.celular}}<br>
        <h3><span class="fas fa-map-marker-alt"></span> Direccion:</h3>
        {{form.direccion}}
        <h3>Edad:</h3>
        {{form.edad}}<br>
        <h3><span class="fas fa-globe-americas"></span> Pais:</h3>
        {{form.pais}}
        <br>
        <br>
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <script>
                    Swal.fire({
                      title: "{{error}}",
                      icon: "error" 
                    })      
                </script>
              {% endfor %}
          {% endfor %}
        {% endif %}
        <input id="boton" type="submit" value="Editar" class="btn btn-dark"/>
        <br>
    </form>
    </div>

</body>
        


{% endblock %}