{% extends "tienda_app/base_producto.html" %}
{% load static %}

{% block title %} Agregar Producto {% endblock %}



{%block content %}

<link type='text/css' href= '{% static "css/agregar_producto.css" %}' rel="stylesheet" >


<body>
    <div class="edit">
      <div class="edit-header">
        <br>
          <h1><i class="fas fa-record-vinyl"></i> Agregar Producto</h1>
      </div>
      <form class="edit-form" action='' method="POST" enctype="multipart/form-data">
          <div class="edit-form1"> 
              {% csrf_token %}
              <h5>Nombre:</h5>
              {{form.nombre}}<br>
              <h5>Genero:</h5>
              {{form.genero}}<br>
              <h5>Artista:</h5>
              {{form.artista}}<br>
              <h5>Precio:</h5>
              {{form.precio}}
              <br>
              <h5>Stock:</h5>
              {{form.stock}}   
              <br>
              <h5>Descripcion:</h5>
              {{form.descripcion}}
              <br>
              <h5>Imagen</h5>
              {{form.imagen}}  
              <br>
          </div>    
          <br>
          <div class='d-flex justify-content-center'>
              <input type="reset" value="Cancelar" class="btn btn-secondary ">
              &nbsp;
              <input type="submit" value="Agregar" class="btn btn-dark"/>
          </div>
          
      </form>
    </div>

</body>
{% endblock %}