{% extends "tienda_app/base_producto.html" %}
{% load static %}

{% block title %} Agregar Genero {% endblock %}



{%block content %}

<link type='text/css' href= '{% static "css/artista_genero.css" %}' rel="stylesheet" >



<body>
    <div class="edit">
      <div class="edit-header">
        <br>
          <h1>AGREGAR GENERO</h1>
      </div>
      <form class="edit-form" action='' method="POST" enctype="multipart/form-data">
          <div class="edit-form1"> 
              {% csrf_token %}
              <h3>Nombre:</h3>
              {{form.nombre}}<br>
              
          </div>
            
          <br>
          <div class='d-flex justify-content-center'>
              <input type="reset" value="Cancelar" class="btn btn-secondary ">
              &nbsp;
              <input type="submit" value="Agregar" class="btn btn-dark"/>
          </div>
          
      </form>
    </div>

</body>
{% endblock %}