{% extends "tienda_app/base.html" %}
{% load static %}

{% block title %} Editar {% endblock %}



{%block content %}

<link type='text/css' href= '{% static "css/editar_producto.css" %}' rel="stylesheet" >

<style>
  
  body {
    background: url("{% static 'images/vinilo2.jpg' %}") no-repeat;
    background-size: cover;
    margin: 0px;
  }
   
</style>


<body>
    <br>
    <div class="edit">
    <div class="edit-header">
        <h1>Editar Producto</h1>
    </div>
    <form class="edit-form" action='' method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}
        <h5>Nombre del álbum:</h5>
        <h6>{{form.nombre}}<br></h6>
        <h5>Género:</h5>
        <h6> {{form.genero}}</h6>
       
        <h5>Artista:</h5>
        <h6> {{form.artista}}</h6>
        <h5>Precio:</h5>
        <h6> {{form.precio}}</h6>
        <h5>Stock:</h5>
        <h6> {{form.stock}}</h6>
        <h5>Descripcion:</h5>
        {{form.descripcion}}
        <br>
        <h5>Imagen:</h5>
        
        {{form.imagen}}
        <div class='d-flex justify-content-center'>
          <a id="volver" href="{%url 'lista_productos'  %}" class="btn btn-secondary " >Volver</a>
          &nbsp;
          <input type="submit" value="Editar" class="btn btn-dark"/>
      </div>
    </form>
    </div>

</body>
{% endblock %}